$c-b-head: #5c7c8e;
$c-b-cover:rgba(212, 240, 237, 0.89);
$c-b-txt-: rgba(37, 192, 171, 0.753);


$c-grey: rgb(119, 153, 171);
$c-grey-back:rgba(35, 87, 80, 0.658);
$c-grey-txt: #628465;
$c-grey-b: #7799ab;


$c-green : rgba(36, 97, 21, 0.616);
$c-green-back: rgba(158, 228, 141, 0.847);
$c-green-txt:  rgba(36, 97, 21, 1);
$c-green-kaki: #356822;
$c-green-1: #8eb863;
$c-green-2: #a2da67;
$c-green-3: #bfe594;
$c-green-4:rgba(0, 250, 154, 0.89);


.prog {
    background-color: $c-green-back;
    border: 2px solid $c-green;
    flex:0 1 auto;
    width: 33%;
    display: flex;
    flex-direction: column;
    
    .name{
        color: $c-green;
        border-bottom: $c-green-4;
        padding: 1rem;

    }    
    
    p{
        color: $c-b-head;
         
        
    }
    .tags {
            display: flex;
            border: 2px solid black;
            flex-wrap: wrap;
            .tag {
                
                flex:0 0 25%;

                }
        }
    }
