@media(min-width: 768px) {
/*     .main-content {
        display: grid;
        grid-area: main-content;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows:repeat(2, 1fr); 
        grid-template-areas: "grd-tablet grd-cart" "grd-contact grd-overview" ;
       }

   .main-nav {
        display: grid;
        grid-area: main-nav;
        grid-template-columns:repeat(4, 1fr);
        grid-template-areas: "board profil search"  ;
    } */

    }
@media (max-width:768px) {

.main-content {
    display: grid;
    grid-area: main-content;
    grid-template-rows:repeat(4, 1fr); 
    grid-template-areas: "grd-tablet" "grd-cart" "grd-contact" "grd-overview" ;
    }   
 .top-bar {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
    }
           
.nav-li-search {
    display: grid;
    grid-area: search;
    text-align: center;
    grid-template-rows: repeat(3, 1fr) 
    }
}