.container {
    border: 1px solid greenyellow;
    display: flex;
    text-align: center;
    align-content: center;
    align-items: flex-end;
     justify-content: left;
    flex-wrap: wrap;
    > #disp {
        width: 50rem;
        height: 70rem;
    }
    > div {
        background-color: dodgerblue;
        color: rgb(9, 37, 9);
        width: 5rem;
        height: 5rem;
        text-align: center;
        line-height: 5rem;
        &:nth-child(2) {
            height: 30rem;
        }
        &:nth-child(3) {
            order: 1;
            flex-grow: 2;
            background-color: darkorange;
            flex-basis: 10rem;
        }
        &:hover {
            order:1;
            width: 10rem;
            height: 10rem
        }
    }


}