@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab|Merriweather|Sacramento&display=swap');

$c-b-head: #5c7c8e;
$c-b-cover:rgba(20, 85, 78, 0.89);
$c-b-cover:rgba(212, 240, 237, 0.89);
$c-b-txt-: rgba(37, 192, 171, 0.753);
$color :rgb(26, 161, 245)

$c-grey: rgb(119, 153, 171);
$c-grey-txt: #628465;
$c-grey-b: #7799ab;
$ss :rgb(77, 104, 119)


$c-green- : rgba(36, 97, 21, 0.616);
$c-green-back: rgba(158, 228, 141, 0.847);
$c-green-txt:  rgba(36, 97, 21, 1);
$c-green-kaki: #356822;
$c-green-1: #8eb863;
$c-green-2: #a2da67;
$c-green-3: #bfe594;
$c-green-4:rgba(0, 250, 154, 0.89);

/*Tablets*/
$c-yellow: rgb(238, 241, 16);
$c-orange: #fdb021;

/*Timeline*/
$c-or-light:rgb(238, 120, 93);
$c-or-dark:rgb(148, 41, 17);
$c-or-cafe:#C45C2A;
$c-or-rose: #F670B5;

/*text*/
$c-g-text:rgba(35, 87, 80, 0.658);


$normal-weight:300;
$bold-weight:700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);
